body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

div {
    border: 1px solid blue;
}

.page {
    display: flex;
}

.feature-box {
}

.text-box {
    padding: 30px;
}

.logo {
    padding: 10px;
}

.primary-text {
    padding-top: 100px;
    padding-bottom: 20px;
}

.form-fields {
    padding: 10px;
}

.form-fields-boxes {
    display: flex;
    flex-wrap: wrap;
}

.cta-box {
    padding: 30px 20px 200px 10px;
    
}